.contenedor{
  display: flex;
  justify-content: center;
}
.contenido{
  flex: 5; /* El área central es tres veces más grande que las laterales */
  background-color: #FFFFFF;
  padding: 20px;
}
.contenedor-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}  
.carta {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
} 
.carta:hover {
  filter: brightness(80%);
} 
.fondo-carta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.texto-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0);
  color: #fff;
  padding: 20px;
  z-index: 2;
}
.carta:hover .texto-overlay {
  display: block;
}
.texto-overlay img{
  width: 25px;
  height: 20px;
}
.recuadro-emergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 800px;
  background-color: #fff;
  display: none;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.seccion-izquierda {
  background-color: red;
  flex: 1;
  height: 800px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Añade esta línea para recortar la imagen si es necesario */
}

.seccion-izquierda img {
  height: 800px; /* Mantiene la proporción de aspecto de la imagen */
}

.seccion-derecha {
  flex: 1;
  width: 500px;
  height: 800px;
  background-color: #f0f0f0;
}
