
.contenedor{
    display: flex;
    justify-content: center;
  }
  .contenido{
    flex: 5; /* El área central es tres veces más grande que las laterales */
    background-color: #FFFFFF;
    padding: 20px;
  }
  .video{
    position: relative;
    height: 750px;
    overflow: scroll;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
  }