body{
    overflow-y: hidden;
}

.candado{
    align-items: center;
    text-align: center;
    display: block;
    position: absolute;
    top:23.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background-color: white;
    border: #ccc solid 1px;
}
.candado img{
    margin: 40px 0 5px 0;
    width: 150px;
}
.candado p{
    font-size: 18px;
    opacity: 0.6;
    margin: 15px 0 18px;
}
.candado h1{
    font-size: 20px;
}
.reinicioContraseña{
    background-color: #0095f6;
    color: white;
    font-size: 13px;
    height: 33px;
    margin: 15px 0 0 0;
    width: 320px;
    border-radius: 7px;
    border: none;
    opacity: 0.5;
}
.cambioContraseña{
    background-color: transparent;
    color: black;
    font-size: 12px;
    height: 30px;
    margin: 6px 0 0 0;
    width: 320px;
    border-radius: 7px;
    border: none;
    opacity: 0.8;
    cursor: pointer;
}

/* Estilos para la barra de navegación */
.barra__navegacion {
    margin-top: 700px;
    color: rgb(115, 115, 115);
    font-size: 14px;
  }
  
  .barra__navegacion ul {
    display: flex;
  }
  
  .barra__navegacion ul li {
    padding: 5px;
  }
  
  /* Estilos para el cambio de idioma */
  .cambiar__idioma {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
  }
  
  #botonIdiomas {
    color: rgb(115, 115, 115);
    background: none;
    border: none;
    outline: none;
  }
  
  /* Estilos para la lista de idiomas oculta */
  .ocultoIdiomas {
    display: none;
    font-size: 14px;
    font-weight: 100;
    position: absolute;
    top: -700px;
    background-color: white;
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    width: 150px;
  }
  /* Estilo global para el cuerpo de la página */
  footer {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 160px 0 0 0;  
  }
  .ocultoIdiomas li:hover {
    background-color: rgb(66, 97, 236);
    color: white;
  }
  
  /* Estilos para el pie de página */
  .p__footer {
    color: rgb(115, 115, 115);
  }