body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

main {
  display: flex;
  gap: 10px;
}
/*Aside*/

.body {
  width: 60%;
  padding: 20px 0px;
}

.logo {
  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.aside {
  margin-top: 0;
  padding-right: 5px;
  width: 20%;
  border-right: #d5dbdb 1px solid;
}

.contendor_op {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contendor_op div {
  position: relative;
  padding: 16px 10px 18px 0px;
}

.contendor_op div:hover {
  background-color: #f4f6f6;
}

svg:hover {
  margin: scale(1.1);
}

.mas {
  margin-top: 38px;
  cursor: pointer;
  margin: 10px 8px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.mas:hover {
  background-color: #f4f6f6;
}

/*Boton más*/
.menu_mas {
  position: absolute;
  font-weight: 600;
  top: -369px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 350px;
  font-size: 14px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.ref_mas {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.ref_mas:hover {
  background-color: #f4f6f6;
  cursor: pointer;
}

.menu_mas.active {
  opacity: 1;
  pointer-events: auto;
}

.down-table p {
  padding: 15px;
}

.down-table p:hover {
  background-color: #f4f6f6;
  border-radius: 5px;
}

/*Aside derecho*/

.aside_right {
  padding: 10px 0px;
  width: 25%;
  display: flex;
  float: right;
  flex-direction: column;
}

.perfil {
  display: flex;
  align-items: center;
  margin-top: 35px;
  justify-content: space-between;
}

.username {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.cambiar {
  font-size: 12px;
  color: #3498db;
  font-weight: bold;
  margin-left: 76px;
}

.sugerencias {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  font-size: 13px;
}

.lista {
  margin-top: -15px;
}

.perfil_sugerencias {
  display: flex;
  align-items: center;
  margin-top: 28px;
  justify-content: space-between;
}

.footer {
  margin-top: 45px;
}

.links a {
  font-size: 11px;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.end {
  margin-top: 25px;
  font-weight: bold;
  color: gray;
  font-size: 11px;
}
