body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
  }
.candado{
    align-items: center;
    text-align: center;
    display: block;
    position: absolute;
    top:23.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background-color: white;
    border: #ccc solid 1px;
}
.candado img{
    margin: 20px 0 5px 0;
    width: 150px;
}
.candado p{
    font-size: 18px;
    opacity: 0.6;
    margin: 15px 0 18px;
}
.candado h1{
    font-size: 20px;
}
.reinicioContraseña{
    background-color: #0095f6;
    color: white;
    font-size: 13px;
    height: 33px;
    margin: 15px 0 0 0;
    width: 320px;
    border-radius: 7px;
    border: none;
    opacity: 0.5;
}
.cambioContraseña{
    background-color: transparent;
    color: black;
    font-size: 12px;
    height: 30px;
    margin: 6px 0 0 0;
    width: 320px;
    border-radius: 7px;
    border: none;
    opacity: 0.8;
    cursor: pointer;
}
