body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF ;
    margin: 0;
    padding: 0;
}


/*opciones de confi y container*/

.izquierda{
    margin-top: 0;
    float: left; /*manuel*/
    width: 17%;
    height: 100vh;
    border: none;
}
.centro{
    float: left;
    width: 21%;
    overflow-y: scroll;
    padding: 15px;
    height: 95.5vh;
    margin: 0 0 0 1.5%;
    align-items: center;
}

.derecha{
    padding-top: 50px;
    padding-left: 10px;
    float:left;
    overflow-y: visible;
    width: 57%;
    height: 88.4vh;
    overflow-y: scroll;
}

ul{
    list-style-type: none;
    padding: 0%;
    margin: auto;
}

.f{
    background-color: #EBEDF0;
    font-size: 15px;
    border-radius: 11px;
    width: 80%;
    margin-left: 10px;
    padding: 2px;
}

.f:hover:hover{
    background-color: #dcdee0;
}

.reng{
    font-size: 15px;
    border-radius: 11px;
    width: 80%;
    margin-left: 10px;
    padding: 2px;
    text-decoration: none;
    color: #000;
}

.reng:hover{
    background-color: #EBEDF0;
}

.c{
    background-color: #FFFFFF;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    width: 80%;
    height: auto;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.21);

    font-size: 14px;
}

.c:hover{
    opacity: 0.7;
}

.lista{
    width: 90%;
    padding: 0;
}

.menu li{
    padding: 12px;
}

.menu li a{
    text-decoration: none;
    color: #000;
}


h5{
    color: #606264;
}

#confi{
    padding: 12px;
    padding-left: 20px;
    margin: 0%;
    margin-top: 20px;
}

/*notificaciones push*/

.pedacito{
    border-bottom: #D5DBDB 1px solid;
    width: 80%;
    margin-left: 40px;
}

.radio{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.abajo{
    margin-top: 35px;
    font-size: 12px;
    color: #606264;
}

.hp{
    font-size: 16px;
}

/*configuraciones de quienes pueden intercatuar conmigo*/

.abajo2{
        margin-top: 20px;
        font-size: 12px;
        color: #606264;
}
  